<!-- Modal -->
<div class="modal fade" id="add-emp" tabindex="-1" aria-labelledby="empadd" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add an employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="atn-update" class="form" action="{%url 'add-emp' %}" method="post">
                    {% csrf_token %}
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Name: </label>
                        </div>

                        <div class="col-auto">
                            <input type="text" id="name" name="name" class="form-control" aria-describedby="name"
                                value="" required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Contact number: </label>
                        </div>

                        <div class="col-auto">
                            <input type="number" id="number" name="number" class="form-control"
                                aria-describedby="number" value="">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Emp. ID: </label>
                        </div>

                        <div class="col-auto">
                            <input type="text" id="id" name="id" class="form-control" aria-describedby="id" value=""
                                required>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Email: </label>
                        </div>

                        <div class="col-auto">
                            <input type="email" id="id" name="email" class="form-control" aria-describedby="id"
                                value="">
                        </div>
                    </div>

                    <!-- <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Emp. Finger ID: </label>
                </div>

                <div class="col-auto">
                    <input type="text" id="fid" name="fid" class="form-control" aria-describedby="fid" value="" >
                </div>
            </div> -->

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Gender: </label>
                        </div>

                        <div class="col-auto">
                            <select class="form-select" aria-label="Default select example" name="gender">
                                <option selected value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Others</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Designation: </label>
                        </div>

                        <div class="col-auto">
                            <input type="text" id="designation" name="designation" class="form-control"
                                aria-describedby="designation" value="">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Department: </label>
                        </div>

                        <div class="col-auto">
                            <input type="text" id="dept" name="dept" class="form-control" aria-describedby="dept"
                                value="">
                        </div>
                    </div>
                    <!-- 
                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Salary type: </label>
                        </div>

                        <div class="col-auto">
                            <select class="form-select" aria-label="Default select example" name="salaryType">
                                <option selected value="M">Monthly</option>
                                <option value="H">Hourly</option>
                            </select>
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Salary: </label>
                        </div>

                        <div class="col-auto">
                            <input type="number" id="salary" name="salary" class="form-control"
                                aria-describedby="salary" value="">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="" class="col-form-label label-space">Overtime Salary (per hour): </label>
                        </div>

                        <div class="col-auto">
                            <input type="number" id="oversalary" name="oversalary" class="form-control"
                                aria-describedby="oversalary" value="">
                        </div>
                    </div> -->

                    <!-- <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Fingerprint device: </label>
                </div>

                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example" name="device" >
                        
                        {% for device in device_list %}
                        <option value="{{device.device_id}}">{{device.device_name}}</option>
                        {% endfor %}
                      </select>
                </div>
            </div> -->


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>