<!-- Modal -->

<div class="modal fade" id="edit-emp{{emp.id}}" tabindex="-1" aria-labelledby="empadd" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit employee information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="atn-update" class="form" action="{%url 'update-emp' %}" method="post" id="updateForm">
            
            {% csrf_token %}
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Name: </label>
                </div>

                <div class="col-auto">
                    <input type="text" id="name" name="name" class="form-control" aria-describedby="name" value="{{emp.emp_name}}" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Contact number: </label>
                </div>

                <div class="col-auto">
                    <input type="number" id="number" name="number" class="form-control" aria-describedby="number" value="{{emp.emp_contact_number}}" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Emp. ID: </label>
                </div>

                <div class="col-auto">
                    <input type="text" id="id" name="id" class="form-control" aria-describedby="id" value="{{emp.emp_id}}" required disabled>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Email: </label>
                </div>

                <div class="col-auto">
                    <input type="email" id="id" name="email" class="form-control" aria-describedby="id" value="{{emp.email}}">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Gender: </label>
                </div>

                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example" name="gender">
                        <option value="M" {% if emp.emp_gender == "M" %}selected{% endif %}>Male</option>
                        <option value="F" {% if emp.emp_gender == "F" %}selected{% endif %}>Female</option>
                        <option value="O" {% if emp.emp_gender == "O" %}selected{% endif %}>Others</option>
                      </select>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Designation: </label>
                </div>

                <div class="col-auto">
                    <input type="text" id="designation" name="designation" class="form-control" aria-describedby="designation" value="{{emp.emp_designation}}" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Department: </label>
                </div>

                <div class="col-auto">
                    <input type="text" id="dept" name="dept" class="form-control" aria-describedby="dept" value="{{emp.emp_dept}}" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Salary type: </label>
                </div>

                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example" name="salaryType">
                        <option value="M" {% if emp.emp_salary_type == "M" %}selected{% endif %}>Monthly</option>
                        <option value="H" {% if emp.emp_salary_type == "H" %}selected{% endif %}>Hourly</option>
                      </select>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Salary: </label>
                </div>

                <div class="col-auto">
                    <input type="number" id="salary" name="salary" class="form-control" aria-describedby="salary" value="{{emp.emp_salary}}" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Overtime Salary (per hour): </label>
                </div>

                <div class="col-auto">
                    <input type="number" id="oversalary" name="oversalary" class="form-control" aria-describedby="oversalary" value="{{emp.emp_overtime_per_hour}}" required>
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">RFID: </label>
                </div>

                <div class="col-auto">
                    <input type="text" id="oversalary" name="rfid" class="form-control" aria-describedby="oversalary" value="{{emp.rfid_tag_number}}">
                </div>
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label for="" class="col-form-label label-space">Device: </label>
                </div>

                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <select class="form-select" aria-label="Default select example" name="device" required>
                        
                                {% for device in device_list %}
                                <option value="{{device.device_id}}">{{device.device_name}}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <!-- <div class="col">
                           <button type="submit" class="btn btn-info" name="button" value="rescan">Scan</button></a>
                        </div> -->
                    </div>
                </div>
            </div>


            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn {% if emp.emp_finger_id_1 %} btn-warning {% else %} btn-primary {%endif%}" name="button" value="rescan1" id="rescanID1" data-bs-toggle="modal" data-bs-target="#loading" >{% if emp.emp_finger_id_1 %}Scan Fingerprint 1{% else %}Add Fingerprint 1{%endif%}

                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn {% if emp.emp_finger_id_2 %} btn-warning {% else %} btn-primary {%endif%}" name="button" value="rescan2" data-bs-toggle="modal" data-bs-target="#loading" >{% if emp.emp_finger_id_2 %}Scan Fingerprint 2{% else %}Add Fingerprint 2{%endif%}</button>
                            
                        </div>
                    </div>
                </div>
                {% if emp.emp_finger_id_2 %}
                <div class="col-auto">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-danger" name="button" value="rescan2-delete">Delete Fingerprint 2</button>
                            
                        </div>
                    </div>
                </div>
                {%endif%}
            </div>
           
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn {% if emp.emp_finger_id_3 %} btn-warning {% else %} btn-primary {%endif%}" name="button" value="rescan3" data-bs-toggle="modal" data-bs-target="#loading" >{% if emp.emp_finger_id_3 %}Scan Fingerprint 3{% else %}Add Fingerprint 3{%endif%}</button>
                        </div>
                    </div>
                </div>
                {% if emp.emp_finger_id_3 %}
                <div class="col-auto">
                    <button type="submit" class="btn btn-danger" name="button" value="rescan3-delete">Delete Fingerprint 3</button>
                </div>
                {%endif%}
            </div>

            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn {% if emp.emp_finger_id_4 %} btn-warning {% else %} btn-primary {%endif%}" name="button" value="rescan4" data-bs-toggle="modal" data-bs-target="#loading" >{% if emp.emp_finger_id_4 %}Scan Fingerprint 4{% else %}Add Fingerprint 4{%endif%}</button>
                        </div>
                    </div>
                </div>

                {% if emp.emp_finger_id_4 %}
                <div class="col-auto">
                    <button type="submit" class="btn btn-danger" name="button" value="rescan4-delete">Delete Fingerprint 4</button>
                </div>
                {%endif%}
            </div>

            <input type="text" id="from" name="id" class="form-control" aria-describedby="FromTime"
            value="{{emp.id}}" required hidden>
             
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#DeleteModal{{emp.id}}">
                Remove
              </button>
              <button type="submit" class="btn btn-primary" name="button" value="update">Update</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Delete Modal -->
            <div class="modal fade" id="DeleteModal{{emp.id}}" tabindex="-1" aria-labelledby="DeleteExampleModalLabel{{emp.id}}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="DeleteExampleModalLabel{{emp.id}}">Remove {{emp.emp_name}} (ID: {{emp.id}})?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to remove {{emp.emp_name}} (ID: {{emp.id}})? Once deleted the employee records will also be deleted from the system. This action cannot be reverted, please proceed with caution. 
                    </div>
                    <form method="POST" action = "{%url 'update-emp' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input hidden type="text" class="form-control" id="emp-id" name="id" required value="{{emp.id}}">
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" name="button" value="delete">Delete</button>
                    </div>
                    </form>
                </div>
                </div>
            </div>

    </div>
</div>