<!-- Modal -->
<div class="modal fade" id="edit-daily{{list.id}}" tabindex="-1" aria-labelledby="daily{{list.id}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update attendance log</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form name="atn-update" class="form" action="{%url 'update_attendance'%}" method="post">
            {% csrf_token %}
            <div class="row align-items-center">
              <div class="col-auto">
                <label for="" class="col-form-label label-space">Name: </label>
              </div>
    
              <div class="col-auto">
                <b>{{list.emp.emp_name}}</b>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-auto">
                <label for="" class="col-form-label label-space">ID: </label>
              </div>
    
              <div class="col-auto">
                <b>{{list.emp.emp_id}}</b>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-auto">
                <label for="" class="col-form-label label-space">Status: </label>
              </div>
            
              <div class="col-auto">
                <input class="form-check-input" type="radio" name="statusRadio" id="statusRadio1" {% if list.emp_present %} checked {%endif%} value="1">
                <label class="form-check-label label-space" for="statusRadio1" style="width: max-content;">
                  Present&nbsp;
                </label>

                <input class="form-check-input" type="radio" name="statusRadio" id="statusRadio1" {% if not list.emp_present %} checked {%endif%} value="0">
                <label class="form-check-label label-space" for="statusRadio1" style="width: max-content;">
                  Absent
                </label>
              </div>

              <div class="row align-items-center">
                <div class="col-auto">
                  <label for="" class="col-form-label label-space">Date: </label>
                </div>
      
                <div class="col-auto">
                    {{list.date|date:"Y-m-d"}}
                </div>
              </div>

              <div class="row align-items-center mb-2 mt-2">
                <div class="col-auto">
                  <label for="" class="col-form-label label-space">In time: </label>
                </div>
      
                <div class="col-auto">
                  <input type="time" id="from" name="inTime" class="form-control" aria-describedby="FromTime"
                    value="{{list.emp_in_time|time:"H:i"}}">
                </div>
              </div>

              <div class="row align-items-center mb-3">
                <div class="col-auto">
                  <label for="" class="col-form-label label-space">Out time: </label>
                </div>
      
                <div class="col-auto">
                  <input type="time" id="from" name="outTime" class="form-control" aria-describedby="FromTime"
                    value="{{list.emp_out_time|time:"H:i"}}">
                </div>
              </div>
            </div>

            <input type="text" id="from" name="id" class="form-control" aria-describedby="FromTime"
                    value="{{list.id}}" required hidden>
            <input type="hidden" name="next" value="{{ request.path }}">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>